<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <title>ToDo App : projects</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <form action="#" method="post" th:action="@{/projects}">
    <fieldset>
        <legend>nowy projekt</legend>
        <label>opis
        <input type="text"/>
        </label>
    </fieldset>
    </form>
</main>
</body>
</html>